
@media (max-width: 450px) {
  .passwords .flex {
    gap: 0rem; /* Reduce the gap between Lord icons on small screens */
   
    padding-left: 0;
    margin: 0;
    
  }

  .passwords .lord-icon {
    width: 20px; /* Further reduce icon size on very small screens */
    height: 20px;
    padding-left: 0;
    margin: 0;
  }
}
