
@media screen and (max-width: 431px) {
   
    
    .tabledata{
        /* border: 2px solid blue; */
        overflow-y: scroll;
    }
}







@media (max-width: 530px) and (min-width: 450px) {
   
    .seconddiv{
        /* border: 2px solid red; */
        max-width: 25rem;
        margin-bottom: 5rem; 
        overflow-y: scroll;
      }
      
  }

  @media screen and (max-width: 640px) and (min-width: 535px) {
   
    .seconddiv{
      /* border: 2px solid green; */
      width: 32rem;
      margin-bottom: 3rem;
      overflow-y: scroll;
    }
    
}